<div class="container handler fileEditor api-fetcher" handler-id="FileEditorHandler" source-url="<%= resourceURL %>">
    <div class="fileEditor-browser">
        <div class="search-bar">
            <input type="text">
            <img src="UI/icons/search_icon.svg" alt="searchIcon" class="icon">
        </div>
        <% if(allowCreateFiles == true){%>
        <div class="add-button ">
            <div class="button1">
                <div class="button2container">
                    <input type="text" class="button2 left add-button-fileName" placeholder="file name">
                    <button class="button2 right"
                        onclick="getHandlerObj(this,'FileEditorHandler').createNewFile()">create</button>
                </div>
                <img src="UI/icons/add_icon.svg" alt="addIcon" onclick="toggleClass_Parent(this, 'activated')">
            </div>
        </div>
        <% } %>
        <ul class="fileEditor-list">
        </ul>
    </div>
    <div class="fileEditor-editor">
        <div class="header">
            <div class="left-buttons">
                <button class="headerButton delete-button"
                    onclick="getHandlerObj(this,'FileEditorHandler').deleteCurrentFile()">
                    <img src="<%= getIcon("trashbin") %>" alt="delete" title="delete">
                </button>
            </div>
            <h2 class="fileName">Select file</h2>
            <h3 class="fileExtension"></h3>
            <div class="right-buttons">
                <button class="headerButton save-button" onclick="getHandlerObj(this,'FileEditorHandler').sendCurrentFileToServer()">
                    <img src="<%= getIcon("save") %>" alt="upload" title="upload"></button>
                <button class="headerButton assign-button"
                    onclick="getHandlerObj(this,'FileEditorHandler').assignFileToScheduler()"> <img src="<%= getIcon("upload")
                        %>" alt="upload" title="upload"></button>
            </div>
            <div class="popup" onclick="getHandlerObj(this,'FileEditorHandler').setHeaderPopup('ok','')"></div>
        </div>
        <textarea class="codeeditor"></textarea>
    </div>
</div>