<div class="handler status-indicator api-fetcher" handler-id="StatusInfoPanelHandler">
    <div class="status-indicator-container">
        <div class="status-indicator-closed container" onclick="getHandlerObj(this,'StatusInfoPanelHandler').open()">
            <div>
                <p>errors:</p>
                <p class="errors-count bold"></p>
            </div>
            <div>
                <p>warnings:</p>
                <p class="warnings-count bold"></p>
            </div>
        </div>
        <div class="status-indicator-open container">
            <div class="tab-switcher handler" handler-id="TabSwitcherHandler">
                <div class="head">
                  <button onclick="getHandlerObj(this,'TabSwitcherHandler').changeTab(this)" class="button1 active"><h2  >warnings</h2></button> 
                  <button onclick="getHandlerObj(this,'TabSwitcherHandler').changeTab(this)"  class="button1" ><h2>errors</h2></button>
                </div>
                <div class="bodies">
                    <div class="warnings active">
                        <table class="table-widget-segment">
                             <colgroup>
                                <col style="width:36%" />
                                <col style="width:5%" />
                                <col style="width:30%" />
                                <col style="width:30%" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>type</th>
                                    <th>id</th>
                                    <th>message</th>
                                    <th>current</th>
                                </tr>
                            </thead>
                            <tbody class="warnings-tbody">
                                
                            </tbody>
                        </table>
                    </div>
                    <div class="errors">
                        <table class="table-widget-segment">
                            <colgroup>
                                <col style="width:36%" />
                                <col style="width:5%" />
                                <col style="width:30%" />
                                <col style="width:30%" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>type</th>
                                    <th>id</th>
                                    <th>message</th>
                                    <th>current</th>
                                </tr>
                            </thead>
                            <tbody class="errors-tbody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="status-indicator-close-btn" onclick="getHandlerObj(this,'StatusInfoPanelHandler').close()"><i class="material-icons">close</i></div>
        </div>
    </div>
</div>