.status-indicator {
    width: 109px;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: relative;
    --acc-color-local2: var(--acc-color-2);
    --acc-color-local3: var(--acc-color-3);
    --acc-color-local4: var(--acc-color-4);


    .status-indicator-container {
        overflow: hidden;
        position: absolute;
        background-color: var(--acc-color-local2);
        border: 3px var(--acc-color-local3);
        border-style: none none solid solid;
        border-radius: 0 0 0 15px;
        box-sizing: border-box;
        height: 100%;
        width: 100%;

        right: 0px;
        top: 0px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3px;
        
        transition: all 0.2s ease-in-out;


        z-index: 99;

        * {
            white-space: nowrap;
        }

        >*{
            width: 100%;
            position: absolute;
            
            transition: opacity 1s cubic-bezier(.68,-0.55,.27,1.55);
        }    
        
        
    }

    .status-indicator-closed {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        user-select: none;
        padding: 5px;
        

        >* {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            width: 100%;
            gap: 10px;

            >* {
                width: fit-content;
            }
        }
    }

    .status-indicator-open {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0;

            >* {
                height: 100%;
            }

            .status-indicator-close-btn {
                position: absolute;
                top: 0;
                right: 0;
                cursor: pointer;
                height: min-content;
                width: min-content;
                padding: 0;

                * {
                    font-size: 30px;
                }
            }

            .status-indicator-close-btn:hover {
                filter: brightness(0.5);
            }

            * {
                white-space: wrap;
                box-sizing: border-box;
            }

            .table-widget-segment {
                height: fit-content;
                table-layout: fixed;
                width: 100%;

                            td{
                    text-align: center;
                }
}

            .tab-switcher {
                display: flex;
                flex-direction: column;
                width: 100%;

                .bodies {
                    display: flex;
                    height: 100%;
                    width: 100%;
                    justify-content: center;
                    align-items: center;

                    background: var(--bg-color-2);
                    height: 100%;
                }
            }
        }

    .status-indicator-container:not(.open) {
        cursor: pointer;
        .status-indicator-open {
            opacity: 0;
            visibility: hidden;
        }

        .status-indicator-closed {
            opacity: 1;
            visibility: visible;
        }
    }
    .status-indicator-container:not(.open):hover,
    .status-indicator-container.open {
        background: var(--bg-color-4);
        border-color: var(--acc-color-local4);
    }

    .status-indicator-container.open {
        width: 600px;
        height: 500px;
        border-radius: 3px;
        border-style: solid;
        padding: 0;

        max-width: 100vw;
        max-height: 100vh;
        .status-indicator-open {
            opacity: 1;
            visibility: visible;
        }

        .status-indicator-closed {
            opacity: 0;
            visibility: hidden;
        }
}
}

.status-indicator.status-indicator-warning{
    --acc-color-local2: var(--warn-color-2);
    --acc-color-local3: var(--warn-color-3);
    --acc-color-local4: var(--warn-color-4);
}


.status-indicator.status-indicator-error{
    --acc-color-local2: var(--err-color-2);
    --acc-color-local3: var(--err-color-3);
    --acc-color-local4: var(--err-color-4);
}