:root {
  /*COLORS*/
  --bg-color-1: rgb(15, 15, 15);
  --bg-color-1-rgb: 15, 15, 15;
  --bg-color-2: rgb(25, 25, 25);
  --bg-color-2-rgb: 25, 25, 25;
  --bg-color-3: rgb(50, 50, 50);
  --bg-color-3-rgb: 50, 50, 50;
  --bg-color-4: rgb(70, 70, 70);
  --bg-color-4-rgb: 70, 70, 70;
  --bg-color-5: rgb(150, 150, 150);
  --bg-color-5-rgb: 150, 150, 150;


  --acc-color-1: rgb(41, 64, 0);
  --acc-color-1-rgb: 41, 64, 0;
  --acc-color-2: rgb(80, 122, 0);
  --acc-color-2-rgb: 80, 122, 0;
  --acc-color-3: rgb(110, 170, 0);
  --acc-color-3-rgb: 110, 170, 0;
  --acc-color-4: rgb(154, 219, 0);
  --acc-color-4-rgb: 154, 219, 0;

  --err-color-3: rgb(173, 39, 15);
  --err-color-3-rgb: 173, 39, 15;

  --warn-color-3: rgb(228, 194, 44);
  --warn-color-3-rgb: 228, 194, 44;


  --text-color-light: rgb(252, 249, 247);
  --text-color-light-rgb: 252, 249, 247;
  --text-color-dark: rgb(28, 26, 25);
  --text-color-dark-rgb: 28, 26, 25;
  --border-width: 1px;
}


/*html default overrides*/

img {
  height: 1.2em;
}

* {
  font-family: Roboto, Arial;
}

h1 {
  font-size: medium;
  font-weight: bold;
}

h2 {
  font-size: medium;
}

* {
  font-size: small;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  color: var(--text-color-light);
  height: 100%;
}

/*hides input buttons*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/*animations*/
@keyframes spin360 {
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
}
/*global class rules*/
.loadingBarBackground {
  background: linear-gradient(90deg, var(--acc-color-2) 50%, transparent 50%);
  background-size: 300% 100%;
  background-position: 80% 50%;
}

@keyframes loadingBarBackground {
  0% {
    background-position: 75% 50%;
  }

  100% {
    background-position: 25% 50%;
  }
}

*.bold {
  font-weight: bold !important;
}

*.right-align {
  text-align: right !important;
}

*.left-align {
  text-align: left !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(var(--bg-color-4-rgb), 0.4);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(var(--bg-color-4-rgb), 0.9);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

p {
  margin: 0;
}

.font_italic {
  font-style: italic;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color-1);

  >*.container {
    display: flex;
    align-items: start;
    justify-content: start;
    /*! position: relative; */
  }
}

.container {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.horflex {
  display: flex !important;
  flex-direction: row !important;

  >* {
    flex: 1 1 auto;
  }
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  display: inline-block;
}

.button1,
.button2,
.radio1 {
  background-color: var(--bg-color-1);
  cursor: pointer;
  border: var(--bg-color-4) 1px solid;
  padding: 5px;
  border-radius: 2px;
  transition: background-color 0.1s cubic-bezier(.22, .61, .36, 1), border-color 0.1s ease-in-out;
  color: var(--text-color-light);
}




.button1:hover:enabled,
.button2:hover:enabled,
.radio1:hover {
  background-color: var(--bg-color-3) !important;
  border-color: var(--acc-color-3) !important;
}

.radio1.minimal {
  padding: 1px;
}

.button1.hoverSpin,
.button2.hoverSpin {
  >* {

    transform: rotate(0deg);
  }

}

.button1.hoverSpin:hover:enabled,
.button2.hoverSpin:hover:enabled {
  >* {
    transition: transform 0.6s cubic-bezier(.79, .14, .15, .86);
    transform: rotate(360deg);
  }
}


.button2container {
  width: min-content;
  padding: 0;
  display: flex;
  gap: 0;
}

.button2.right {
  border-radius: 0 2px 2px 0;
  width: min-content;

}

.button2.left {
  border-radius: 2px 0 0 2px;
  border-right: none;
  width: 100%;
}

.button1:disabled,
.button2:disabled,
.button1.disabled,
.button2.disabled {
  background-color: var(--bg-color-1) !important;
  border-color: var(--bg-color-3) !important;

  >* {
    opacity: 0.3 !important;
    filter: grayscale(0.8) !important;
  }
}



.radio1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;

  >input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }

  >* {
    padding: 0;
    margin: 0;
    width: min-content;
  }
}

.radio1:has(input[type="radio"]:checked) {
  border-color: var(--acc-color-2);
}




.headerButton {
  border: none;
  background: none;
  height: 100%;

  padding: 0;

  border: var(--bg-color-5) 1px solid;
  padding: 3px;
  aspect-ratio: 1/1;
  border-radius: 3px;
  background-color: var(--bg-color-3);

  i{
    font-size: 2em;
    color: white;
  }
  img {
    height: 100%;
  }
}

.headerButton:hover {
  background-color: var(--bg-color-2);
  cursor: pointer;
}

.headerButton:disabled{
  background-color: var(--bg-color-3);
  cursor:default;
  opacity: 0.4;
}

.table-widget-segment {
  border-spacing: 5px;

  thead {
    * {
      font-size: smaller;
      font-weight: normal;
      border: var(--bg-color-3) 1px solid;
      border-style: none solid none none;
      padding-right: 5px;
      white-space: nowrap;
    }

    *:last-child {
      padding: 0;
      border: none;
    }
  }

  tbody {
    tr {
      border-bottom: var(--bg-color-4) 1px solid;
      td{
        white-space: nowrap;
      }

      img {
        height: 1.5em;
      }

      input {
        color: var(--text-color-light);
      }

      td>* {
        display: flex;
        justify-content: center;
        align-items: center;

      }

      td.table-color {
        padding: 0;
        >p{
          font-size: 1em;
        }
      }

      td.table-name {
        width: 100%;
      }

      td.table-dataField {
        white-space: nowrap;
        min-width: max-content;
      }

      td.table-target {
        min-width: 60px;
        display: flex;

        div.button2container {
          width: 100%;
        }

        input {
          padding: 0px 5px;
        }

        input[type="number"] {
          width: 100%;
          background: var(--bg-color-1);
          border: var(--bg-color-4) 1px solid;
          border-radius: 3px 0 0 3px;
          color: var(--text-color-light);
          border-right: none;
          cursor: text;
        }

        input[type="button"] {
          border-radius: 0 3px 3px 0;
        }
      }

      td.table-resettarget {
        >button {
          padding: 0px 5px;
        }
      }

      span.collapse {
        float: right;
        cursor: pointer;

        padding: 0 5px 0 5px;
      }


    }
  }

}

.api-fetcher.error,
.module-api-fetcher.error,
.api-data.error {
  color: red;
  font-weight: bold;
  transition: color 0.5s ease-in-out, font-weight 0.5s ease-in-out;
}

*:has(div.colorFilter) {
  position: relative;
  isolation: isolate;
}

.colorFilter {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  mix-blend-mode: multiply;
}


.slider {
  -webkit-appearance: none !important;
  border-radius: 6px;
  border: var(--bg-color-4) 1px solid;
  background: var(--bg-color-3);
}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  ;
  appearance: none;
  width: 8px;
  height: 20px;
  border-radius: 4px;
  background: var(--acc-color-3);
  box-shadow: 0px 0px 6px 10px rgba(25, 25, 25, 1);
  cursor: pointer;
}

.vertical.slider::-webkit-slider-thumb {
  width: 20px;
  height: 8px;
}

.slider::-moz-range-thumb {
  width: 8px;
  height: 20px;
  border-radius: 4px;
  background: var(--acc-color-3);
  box-shadow: 0px 0px 6px 10px rgba(25, 25, 25, 1);
  cursor: pointer;
  border: none;
}

.vertical.slider::-moz-range-thumb {
  width: 20px;
  height: 8px;
}

.slider::-moz-range-progress {
  background-color: var(--acc-color-2);
  width: 100%;
  height: 100%;
  border-radius: 6px;
}


.slider::-ms-fill-lower {
  background-color: var(--acc-color-2);
  width: 100%;
  border-radius: 6px;
}

.slider:not(.vertical) {
  height: 8px;
}

.slider.vertical {
  writing-mode: vertical-lr;
  direction: rtl;
  appearance: slider-vertical;
  width: 8px;
  vertical-align: bottom;
}


.slider2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  >* {
    flex: 1 0 auto;
  }

  >.slider {
    flex: 0 0 auto;
    margin: 0;
    margin-right: 10px;
  }
}

.widget {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-2);
  color: var(--text-color-light);
  border-radius: 5px;
  border: var(--bg-color-4) 1px solid;
  min-height: min-content;
  min-width: min-content;
  height: fit-content;
  overflow: hidden;

  >* {
    padding: 10px;
  }

  > div.header {
    margin: 0;
    padding: 5;
    border-bottom: var(--acc-color-2) 2px solid;
    background-color: var(--bg-color-3);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    align-items: stretch;
    height: 30px;

    p {
      margin: 0;
      text-align: center;

    }

    >h1 {

      width: auto;

      margin: auto 0;

      white-space: preserve nowrap;

      padding: 5px;

    }

    >div.top {
      opacity: 0;
      color: red;
      position: absolute;
      bottom: 0px;
      left: 10px;
      width: 100%;
      height: min-content;

      * {
        font-size: x-small;
        text-align: left;
      }
    }

    >div.right {
      display: flex;
      flex-direction: row;
      width: fit-content;
      min-height: 86%;



      >* {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--bg-color-2);
        border: var(--bg-color-4) 1px solid;
        border-radius: 4px;

        width: min-content;
        padding: 4px;
      }

      >*:first-child:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;
      }

      >:last-child:not(:first-child) {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }

      >:not(:last-child):not(:first-child) {
        border-right: none;
        border-radius: 0;
      }

      >div {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 7px;
        max-height: 100%;
        box-sizing: border-box;
      }

      * {
        white-space: nowrap;
      }

      button {
        height: 100%;

      }


    }

    >div.right:not(:has(*)) {
      display: none;
    }
  }

  div.header.error {
    border-bottom-color: red;

    >h1 {
      margin: 0;
    }

    >div.top {
      opacity: 1;
    }
  }
}

.widget.horizontal {
  flex-direction: row;
}

.widget.error {
  h1 {
    border-bottom: rgb(150, 25, 10) 2px solid;

    p {
      color: red;
    }
  }

}

.slider1 {
  width: min-content;

  h3 {
    white-space: nowrap;
    /*! color: var(--bg-color-4); */
  }

  p {
    color: var(--bg-color-5);
  }

  .slider-labels>* {
    margin: 0;
    min-width: min-content;
    /*! color: var(--bg-color-5); */
  }

  .slider-button {
    border: none;
    border-radius: 0px;
    height: 50px;
    width: min-content;
    padding: 5px;
    border-left: var(--bg-color-4) solid 1px;

    >* {
      writing-mode: vertical-lr;
      rotate: -180deg;
    }
  }

  >* {
    width: 100%;
    text-align: center;
    box-sizing: border-box;

  }

  slider {
    background-color: var(--acc-color-4);
  }
}

.apiChart {
  position: relative;
  flex: 1 1 auto;
  min-width: 0px;
  min-height: 0px;
  box-sizing: border-box;




  canvas.inactive-chart {
    pointer-events: none;
    filter: grayscale(1);
    opacity: 0.5;
  }



  >* {
    position: absolute;
    inset: 0;
  }
}

.setter1{
  h3{
    margin: 0;
  }
  .setter1-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0;
    gap:15px;
    button{
      height: min-content;
      padding: 2px;
    }
  }
  .setter1-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3px;
    >*{
      width: 50%;
    }
    gap: 20px;
    
    
  }
  .setter1-currValue{
    color: var(--bg-color-5);
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/*local rules*/




#HOTBAR {
  width: 100%;
  height: 50px;
  display: flex;
  background-color: var(--bg-color-3);
  color: var(--text-color-light);

  button {

    cursor: pointer;
    background: none;
    border: none;
    height: 100%;

    img {
      height: 100%;
    }
  }

  button:hover {
    filter: brightness(0.8);
  }

  h1 {
    margin: auto auto auto 0;
    font-size: 30px;
  }

  >div {
    margin: auto 0 auto 0;
    padding: 0 10px 0 10px;

    p {
      margin: 0;
      width: 100%;
      text-align: center;
    }

    padding: 0 10px 0 10px;
  }

  #status-indicator {
    background-color: green;
    border-radius: 0 0 0 15px;
    height: 100%;
    width: 80px;
    text-align: center;

    >* {
      width: 100%;
    }
  }

  min-height: 50px;

}

#SIDEBAR {
  min-width: min-content;
  max-width: 300px;
  height: 100%;
  color: var(--text-color-light);
  background-color: var(--bg-color-2);

  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;

    /*! padding: 5px; */
    li {
      font-size: medium;
      margin-bottom: 5px;
      width: 100%;
      transition: border 0.5s ease-in-out, background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
      cursor: pointer;

      i {
        color: var(--acc-color-4);
        font-size: 1.5em;
        margin-right: 5px;
        transition: margin 0.5s ease-in-out;
      }

      padding: 12px;
      /*! padding-top: 0; */
      border-right: var(--acc-color-1) 2px solid;
      box-sizing: border-box;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: start;
    }

    li:hover {
      background-color: var(--bg-color-1);
    }

    li.active {
      border-color: var(--acc-color-2);
      background-color: var(--acc-color-1);
      border-width: 2px;
    }

    width: max-content;
    box-sizing: border-box;
  }

  span {
    transition: width 0.5s ease-in-out;
    width: 100px;
    overflow: hidden;
  }


  height: 100%;
}

#SIDEBAR.collapsed {

  ul {
    img {
      margin: 0;
    }

    span {
      width: 0px;
    }
  }
}


#CONTENT {
  width: 100%;
  height: 100%;

  position: relative;


  *.content-panel {
    transition: transform 0.5s ease-out, opacity 0.2s ease-in-out;
    position: absolute;
    z-index: 5;
  }


  *.content-panel.hidden {
    /*! transform: scale(0.9); */
    opacity: 0;
    display: none !important;
    /*! height: 0px !important; */
    z-index: 0 !important;

    pointer-events: none;

  }
  >* {
    box-sizing: border-box;
    padding: 10px;
  }
  *.content-panel-fullscreen{
    padding: 0px;
    overflow: hidden;
  }


  #DashBoard-Panel {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 400px));
    gap: 15px;
    min-height: min-content;
    max-height: unset;
    height: min-content;

    >.widget {
      height: 100%;
    }


    .control-panel {
      display: flex;
      width: 100%;
      box-sizing: border-box;
      align-items: center;
      justify-content: space-around;

      .slider1 {
        width: min-content;
        min-width: min-content;

        >* {
          width: 100%;
        }

        .slider-labels {
          min-width: min-content;
        }

        slider {
          background-color: var(--acc-color-4);
        }
      }
    }


    #Temperature-Widget {
      grid-row: span 2;



      .apiChart {
        min-height: 200px;
        height: 100%;
      }

      .container {
        height: auto;
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
      }

      #Temperature-Widget-Chart-ContextLen {
        padding-top: 0px;
        padding-bottom: 2px;

        * {
          border-radius: 0;
        }

      }
    }



    #KineticFluorometer-Widget {
      grid-row: span 3;
      grid-column: span 2;

      .apiChart {
        min-height: 500px;

        p {
          position: absolute;
          width: fit-content;
          height: fit-content;
          top: unset;
          left: 5px;
          bottom: 5px;
          color: rgba(var(--bg-color-5-rgb), 0.5);
        }
      }

      .KineticFluorometer-controlPanel {
        display: flex;
        justify-content: space-between;
        gap: 7px;
        border-style: none;
        border-top-style: solid;

        .KineticFluorometer-testInfo {
          padding: 0;
          width: 50%;
          height: 100%;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          gap: 7px;

          .widget {
            width: 100%;
            height: 100%;

            >* {
              padding: 7px;
            }




            table {
              width: 100%;
              overflow-y: scroll;

              tbody {
                width: 100%;
              }

              .table-dataField {
                text-align: right;
              }

              .table-name {
                width: 100%;
              }
            }

          }

          .tabs-container {
            .head {
              border-bottom: var(--bg-color-3) 2px solid;
              display: flex;
              padding: 3px;
              padding-bottom: 0;
              gap: 2px;


              button {
                padding: 5px;
                border-bottom: none;
                border-radius: 10px 10px 0 0;

                h2 {
                  padding: 0;
                  margin: 0;
                }
              }

              button.active {
                border-color: transparent;
                background-color: var(--bg-color-3)
              }
            }
          }
        }


        .KineticFluorometer-Widget-NewTest {
          padding: 0;
          width: 50%;
          height: 100%;
          align-items: stretch;
          justify-content: space-between;

          h2 {
            margin: 0;
            padding: 7px;
            border-bottom: 2px solid var(--bg-color-3);
          }

          >div {
            display: flex;
            justify-content: space-between;
            align-items: center;

            padding-bottom: 0;
            padding-top: 0;


            input select,
            >div {
              text-align: right;
              width: 100%;
              max-width: 70%;
            }

            >div>* {
              max-width: 100%;
            }
          }

          button {
            border-bottom-color: transparent;
            border-left-color: transparent;
            border-right-color: transparent;
            border-radius: 0;
            position: relative;
          }

          box-sizing: border-box;
        }
      }


    }

    #Control-Widget {
      grid-row: span 1;

      #Control-Widget-sliders {
        padding-top: 0;
        padding-bottom: 0;

        >* {
          margin: 12px 0;
        }

        .slider1 {
          width: 100%;
          height: fit-content;
          display: flex;
          flex-direction: row;

          box-sizing: border-box;
                  >*.slider-labels {
            width: min-content;
            min-width: 120px;
          }

          >*.slider-slider {
            width: 100%;

            >* {
              width: 100%;
            }
          }

          .slider-minmax {
            position: relative;
            z-index: 5;

            >* {
              padding: 0;
              margin: 0;
            }

            >.slider-max {
              float: right;
            }

            >.slider-min {
              float: left;
            }
          }

          align-items: center;
}
      }

    }

    #CoolSpektrometer-Widget {
      #CoolSpektrometer-SetReferenceBtn {
        padding: 0 5px;
        width: 100%;
      }
    }

  }

  #device-Panel {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 300px));
    gap: 15px;
    min-height: min-content;
    max-height: unset;
    height: min-content;

    *.error {
      color: var(--err-color-3);
    }

    *.warning {
      color: var(--warn-color-3);
    }

    *.ok {
      color: var(--acc-color-3);
    }

    >.widget {
      height: 100%;
    }

    >*.widget {
      /*! max-width: max-content; */
      max-height: fit-content;

      .header {
        button {
          padding: 5px;
        }
      }

      td {
        text-align: center;

        button {
          padding: 2px;

          img {
            height: 1.2em;
          }

          margin: auto;
        }
      }
    }

    #DevicePanel-moduleList {
      grid-column: span 2;
      width: 100%;
      max-width: 100%;
    }

    #DevicePanel-DeviceInfo {
      max-width: max-content;
      grid-row: span 2;

      td.table-dataField {
        min-width: 40px;
      }
    }
  }

  overflow-y: scroll;
}



#SIDEBAR,
#CONTENT>*:not(#mainPopup) {
  transition: 0.5s filter cubic-bezier(0, .35, 0, .84);
}


#MAIN.disabled {

  #SIDEBAR,
  #CONTENT>*:not(#mainPopup) {
    transition: 10s filter cubic-bezier(0, .35, 0, .84);
    filter: brightness(0.6) grayscale(0.8);
  }
}


#mainPopup {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 10;
  max-width: 30%;
  min-width: 250px;
  width: fit-content;

  display: none;

  background: var(--bg-color-1);
  border: var(--bg-color-5) 2px solid;

  * {
    font-weight: 1000;
    font-size: 15px;

    padding: 0px;
    margin: 0px;
  }


  padding: 15px;

  border-radius: 0 0 0 20px;
}

#mainPopup:hover {
  border-width: 3px;
  padding: 13px;
  filter: brightness(1.1);
  cursor: pointer;
}

#mainPopup.warning {
  border-color: var(--warn-color-3);
  background-color: var(--warn-color-3);
  color: var(--text-color-light);
  display: block;
}

#mainPopup.error {
  border-color: rgb(200, 50, 30);
  background-color: rgba(150, 25, 10, 1);
  color: var(--text-color-light);
  display: block;
}

*.noBorder {
  border: none !important;
}

*.noBg {
  background: none !important;
}

/*DEBUG*/
[resource="/test-get"] {
  color: darkorange;
}