<div class="widget" id="DevicePanel-ServicesStatus">
    <div class="header">
        <h1>Service status</h1>
        <button class="reset_button button1 hoverSpin" onclick="DevicePanel_ServicesStatus_Reload()">
            <p class="material-icons filled" title="refresh all values">autorenew</p>
        </button>
        <div class="popup-container">
</div>
    </div>
    <table class="table-widget-segment">
        <thead>
            <tr>
                <th>state</th>
                <th>service name</th>
                <th>in this state for</th>
            </tr>
        </thead>
        <tbody id="DevicePanel-ServicesStatus-table">
        </tbody>
        <script>
            async function DevicePanel_ServicesStatus_Reload(){
                console.warn("UPDATING SERVICES");
                
                const table = document.getElementById("DevicePanel-ServicesStatus-table");
                var serviceInfo; 
                try {
                    serviceInfo = await fetchDataAsJson(":80/services-status");             
                } catch (err) {
                    console.debug(
                                "DevicePanel_ServicesStatus_Reload: unable to fetch resource: ",
                                ":80/services-status", 
                                "\n", 
                                err.message
                            );
                    return;
                }
                table.innerHTML = "";

                console.log(serviceInfo);
                for (var service in serviceInfo){
                    var out = "";
                    var level;
                    switch (serviceInfo[service].state.trim()) {
                        case "active":
                            level="ok";
                            break;
                        case "failed":
                        case "inactive":
                            level="error";
                            break;
                        default:
                            level="warning";
                            break;
                    }

                    out+="<tr>"
                        out+="<td class='"+level+"'>"+serviceInfo[service].state+"</td>"
                        out+="<td>"+service.replaceAll(".service","")+"</td>"
                        out+="<td>"+serviceInfo[service].uptime+"</td>"
                    out+="</tr>"
                    table.innerHTML += out;
                }
            }
            onloadQueue.push(()=>DevicePanel_ServicesStatus_Reload()); 
            setInterval(()=>{
                if(currContext == 3){
                    DevicePanel_ServicesStatus_Reload();
                }
            },10000);
        </script>
    </table>
</div>