<div class="widget" id="DevicePanel-ServiceStatus">
    <div class="header">
        <h1>Module list</h1>
        <button class="reset_button button1 hoverSpin" onclick="restartModule(this)">
            <img src="<%= getIcon("refresh") %>" alt="refresh" title="refresh">
        </button>
        <div class="top">
            <p>ERROR</p>
        </div>
    </div>
    <table class="table-widget-segment">
        <thead>
            <tr>
                <th>status</th>
                <th>service name</th>
                <th>up-time</th>
            </tr>
        </thead>
        <tbody id="moduleList">
            
        </tbody>
    </table>
</div>