:root { /*COLORS*/
  --bg-color-1: rgb(15, 15, 15);
  --bg-color-1-rgb: 15, 15, 15;
  --bg-color-2: rgb(25, 25, 25);
  --bg-color-2-rgb: 25, 25, 25;
  --bg-color-3: rgb(50, 50, 50);
  --bg-color-3-rgb: 50, 50, 50;
  --bg-color-4: rgb(70, 70 ,70);
  --bg-color-4-rgb: 70, 70 ,70;
  --bg-color-5: rgb(150,150,150);
  --bg-color-5-rgb: 150,150,150;


  --acc-color-1: rgb(41, 64, 0);
  --acc-color-1-rgb: 41, 64, 0;
  --acc-color-2: rgb(80, 122, 0);
  --acc-color-2-rgb: 80, 122, 0;
  --acc-color-3: rgb(110, 170, 0);
  --acc-color-3-rgb: 110, 170, 0;
  --acc-color-4: rgb(154, 219, 0);
  --acc-color-4-rgb: 154, 219, 0;

  
  --text-color-light: rgb(252, 249, 247);
  --text-color-light-rgb: 252, 249, 247;
  --text-color-dark: rgb(28, 26, 25);
  --text-color-dark-rgb: 28, 26, 25;
  --border-width: 1px;
}

/*html default overrides*/

* {
  font-family: Verdana ;
}
h1 {
  font-size: medium;
  font-weight: bold;
}
h2 {
  font-size: medium;
}
* {
  font-size: small;
}
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  color: var(--text-clr);
}

/*global class rules*/

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color-1);
  > *.container {
    display: flex;
    align-items: start;
    justify-content: start;
    /*! position: relative; */
  }
}
.container {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.button1{
  background-color: var(--bg-color-1);
  
  border: var(--bg-color-4) 1px solid;
  padding: 5px;
  border-radius: 2px;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.button1:hover{
  background-color: var(--bg-color-3);
  border-color: var(--acc-color-3); 
}


/*local rules*/

#HOTBAR {
  width: 100%;
  height: 50px;
  display: flex;
  background-color: var(--bg-color-3);
  color: var(--text-color-light);
  button{
    
    cursor: pointer;
    background: none;
    border: none;
    height: 100%;
    img{
        height: 100%;
    }
  }
  button:hover{
    filter: brightness(0.8);
  }
  h1 {
    margin: auto auto  auto 0;
  }
  >div {
    margin: auto 0 auto 0;
    padding: 0 10px 0 10px;
   
    p {
      margin: 0;
      width: 100%;
      text-align: center;
    }
    padding: 0 10px 0 10px;
  }
  #Status-Indicator{
    background-color: red;
    border-radius: 0 0 0 15px;
    height: 100%;
    width: 80px;
    text-align: center;
    >*{
        width: 100%;
    }
  }
  min-height: 50px;
  
}
#SIDEBAR {
  min-width: min-content;
  max-width: 300px;
  height: 100%;
  color: var(--text-color-light);
  background-color: var(--bg-color-2);
  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
        /*! padding: 5px; */
    li {
      font-size: medium;
      margin-bottom: 5px;
      width: 100%;
      transition:border 0.5s ease-in-out, background-color 0.2s ease-in-out, transform 0.2s ease-in-out ;
      cursor: pointer;
      img {
        height: 2em;
        margin-right: 5px;
      }
      padding: 12px;
            /*! padding-top: 0; */
      border-right: var(--acc-color-1) 2px solid;
      box-sizing: border-box;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: start;
    }
    li:hover {
      background-color: var(--bg-color-1);
    }
    li.active {
      border-color: var(--acc-color-2);
      background-color: var(--acc-color-1);
      border-width: 2px;
    }
    width: max-content;
    box-sizing: border-box;
  }
}

img{
  height: 1.5em;
}



#CONTENT {
  width: 100%;
  height: 100%;
  *.content-panel {
    transition: transform 0.5s ease-out, opacity 0.2s ease-in-out;
    position: absolute;
    z-index: 5;
  }


  *.content-panel.hidden {
    /*! transform: scale(0.9); */
    opacity: 0;
    /*! display: none !important; */
    /*! height: 0px !important; */
    z-index: 0 !important;

    pointer-events: none;
  }
  *.widget {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color-2);
    color: var(--text-color-light);
    border-radius: 5px;
    border: var(--bg-color-4) 1px solid;
    min-height: min-content;
    height: 100%;
    overflow: hidden;
    >* {
      padding: 10px;
    }
    h1 {
      margin: 0;
      border-bottom: var(--acc-color-1) 2px solid;
      background-color: var(--bg-color-3);
            /*! color: var(--text-color-dark); */
    }
  }
  >* {
    box-sizing: border-box;
    padding: 10px;
  }
  #DashBoard-Panel {
    display: grid;
    grid-template-areas: 
        "a b e e "
        "a b c c "
        "a b c c "
        "d d c c";
    grid-auto-columns: 1fr;
    gap: 15px;
    min-height: min-content;
    max-height: unset;
    #Temperature-Widget{

      table{
        thead{
          *{
            font-size: smaller;
            font-weight: normal;
          }
        }
        tbody{
          tr{
            border-bottom: var(--bg-color-4) 1px solid;

            img{
              height: 1.5em;
            }
            input{
              width: 100%;
            }
            td>*{
              display: flex;
              justify-content: center;
              align-items: center;
            }
            td.table-name{
              width: 100%;
            }
            td.table-current{
              min-width: 60px;
            }
            td.table-target{
              min-width: 60px;
            }

            span.collapse{
              float: right;
              cursor: pointer;

              padding: 0 5px 0 5px;
            }
          }
        }
      }
      
    }

    #SimpleSensors-Widget {
      grid-area: a;
      .sensorList {
        list-style: none;
        margin: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        li {
          display: flex;
          border-bottom: var(--bg-color-4) 1px solid;
          align-items: center;
          justify-content: center;
          img {
            height: 1.7em;
          }
          span:nth-child(2) {
            width: 100%;
            margin-left: 5px;
          }
          padding: 2px 0 2px 0;
          height: 100%;
        }
        li:last-child {
          border-bottom: none;
        }
      }
      div {
        width: 100%;
        box-sizing: border-box;
        border-top: var(--bg-color-4)  1px solid;
        img {
          width: 100%;
        }
        >canvas {
          width: 99%;
        }
      }
    }
    #QuickSettings-Widget {
      grid-area: b;
    }
    #ProgramOverview-Widget {
      grid-area: c;
      div#ProgramThumbnail {
        background-image: url("UI/LogoPlaceholder.svg");
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        border-bottom: var(--bg-color-1) 1px solid;
        h2 {
          margin: 0;
          background-color: rgba(var(--acc-color-3-rgb),0.7);
          display: flex;
          align-items: center;
          justify-content: center;
          span {
            float: right;
            margin-left: 5px;
            border-left: var(--bg-color-2) 2px solid;
            padding-left: 5px;
          }
        }
        >div {
          height: 100%;
        }
      }
      div#ProgramOverview {
        max-height: 20%;
        padding: 0;
        display: flex;
        ul {
          width: 50%;
        }
        >* {
          box-sizing: border-box;
          padding: 10px;
        }
        ul:nth-of-type(1) {
          height: 100%;
          list-style: decimal;
          overflow-y: scroll;
          margin: 0;
          padding-left: 40px;
          li {
            line-height: 1em;
          }
          li:nth-of-type(3) {
            list-style: disclosure-closed;
            padding: 2px;
            font-weight: bold;
          }
        }
        ul:nth-of-type(2) {
          list-style: none;
          margin: 0;
          border-left: var(--bg-color-4) 1px solid;
          li {
            display: flex;
            span {
              display: inline-block;
              white-space: nowrap;
            }
            span:nth-of-type(1) {
              display: inline-block;
              width: 100%;
            }
          }
        }
      }
    }
    #ComplexSensors-Widget {
      grid-area: d;
      * {
        box-sizing:border-box ;
      }
      >div {
        display: flex;
        >div.graph {
          height: 100%;
        }
      }
    }
    #Console-Widget {
      grid-area: e;
      ul {
        height: 145%;
        margin: 0;
        display: flex;
        flex-direction: column-reverse;
        min-height: 5em;
        max-height: 8em;
        background-color: var(--bg-color-1);
        border: var(--bg-color-4) 1px solid;
        overflow-y: scroll;
        list-style: "21:05: ";
        li {
          margin-left: 12px;
        }
        li::marker {
          color: rgba(var(--text-color-light-rgb),0.6);
          font-weight: bold;
        }
        padding-bottom: 5px;
        border-radius: 5px;
      }
    }
    min-height: min-content;
    max-height: unset;
    height: min-content;
  }
  
  #Experiments-Panel, #Config-Panel{
    display: flex;
    padding: 0;
    
    
    .file-browser{
      background: var(--bg-color-2);
      color: var(--text-color-light);
      padding: 3px;
      
      .search-bar{
        border-bottom: var(--acc-color-1) 2px solid;
        display: flex;
        padding: 5px;
        gap: 5px;
        
       
        input{
          background: var(--bg-color-1);
          border: var(--bg-color-3) 1px solid;
          color: var(--bg-color-5);
        }
        input:focus{
          color: var(--text-color-light);
        }
      }
      
      .file-list{
        list-style: none;
        padding: 5px;

        li:nth-of-type(1){
          border-top: var(--bg-color-4) 1px solid;
        }

        li{
          font-size: small;
          padding: 8px;
          border-bottom: var(--bg-color-4) 1px solid;
          transition: background-color 0.2s ease-in;
        }
        
        li:hover{
          background-color: var(--acc-color-2);
          cursor: pointer;
        }
        /*! margin: ; */
        overflow: scroll;
      }
      
      .file-details{
        margin-top: auto;
        margin-bottom: 0;
       
        
        display: flex;
        border-top: var(--acc-color-1) 2px solid;
        flex-direction: column;
        h2{
          margin: 0;
          margin-top: 5px;
          padding: 5px;
          
          border-bottom:var(--bg-color-3) 2px solid; 
        }
        ul{
          background: var(--bg-color-1);
          list-style: none;
          padding: 5px;
          margin: 10px 0 10px 0;
          
          
          li{
            border-bottom: var(--bg-color-4) 1px solid;
            width: 100%;
            display: flex;
            white-space: nowrap;
            
            padding: 2px;
            
            span{
              text-align: right;
              
              display: inline-block;
              margin: auto;
              width: 99%;
            }
            
          }
          li:last-of-type{
            border:none;
          }
        }
        
        >div{
          display: flex;
          align-items: center;
          justify-content:center;
          gap: 5px;
          padding: 1px;

          button{
            border:none;
            width: 100%;
            height: 2.5em;
            padding: 0;
            /*! transition: background-size 0.5s cubic-bezier(.19,1,.22,1); */
            
            
            display: flex;
            justify-content: space-between;
            align-items: center;

            color: var(--text-color-light);


            img{
              height: 100%;
              background-color: rgba(0, 0, 0, 0.2);
            }
            span{
              padding: 5px;
            }
          }
          
          button:hover{
            filter: brightness(0.9);
            cursor: pointer;
          }
          
          
          
          #remove-button{
            background-color: #F02B00;            
          }
          #activate-button{
            background-color: var(--acc-color-3);
          }
        }
      }
      display: flex;
      flex-direction: column;
    }
    .file-editor{
      width: 100%;
      
      overflow: scroll;
      
      display: flex;
      position: relative;
      
      background-color: var(--bg-color-3);
      
      
      ul{
        list-style: none;
        padding: 5px;
        color: var(--text-color-light);
        margin: 0;
        width: min-content;
      }
      .CodeMirror{
        height: 100%;
        width: 100%;
        background: none;

        .CodeMirror-scroll{
          background-color: var(--bg-color-2);
          color: var(--text-color-light);
        }

        .CodeMirror-gutters{
          background-color: var(--bg-color-3);
          border-right: var(--bg-color-5) 1px solid;
        }

        .CodeMirror-cursor {
          border-left: 1px solid #fff;
        }
      }
      /*
      textarea{
        height: 100%;
        width: 100%;
        background: none;
        border: none;
        border-left:  var(--bg-color-4) 1px solid;
        padding: 4px;
        padding-left: 2; 
        margin: 0;
        
        color: var(--text-color-light);
      }*/
      
      button{
        position: absolute;
        
        right: 10px;
        top: 10px;
        
      }
    }
    height: calc(100vh - 50px);
    overflow: hidden;
  }
  position: relative;
}
